<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsl.bohe.dao.FoodMapper">
  <resultMap id="BaseResultMap" type="com.hsl.bohe.entity.Food">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="heat" jdbcType="DOUBLE" property="heat" />
    <result column="carbohydrate" jdbcType="DOUBLE" property="carbohydrate" />
    <result column="protein" jdbcType="DOUBLE" property="protein" />
    <result column="fat" jdbcType="DOUBLE" property="fat" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, heat, carbohydrate, protein, fat, imgurl, tid
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_food
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from t_food
  </select>
  <select id="selectCount" resultType="java.lang.Long">
    select count(*) from t_food where tid=#{tid}
  </select>
  <select id="selectCountByKey" resultType="java.lang.Long">
    select count(*) from t_food where name like "%"#{key}"%"
  </select>
  <select id="selectOneById" resultType="com.hsl.bohe.common.vo.FoodVo">
    select f.*,ft.name as typename from t_food f
    INNER JOIN t_foodtype ft
    on f.id=#{id} AND f.tid=ft.id
  </select>
  <select id="selectByPageAndSize" resultType="com.hsl.bohe.common.vo.FoodVo">
    select f.*,ft.name as typename from t_food f
    INNER JOIN t_foodtype ft
    on  f.tid =#{tid} and f.tid=ft.id
    limit #{from},#{size}
  </select>
  <select id="selectByKey" resultMap="BaseResultMap">
    select id,imgurl,name,heat from t_food
    where name like "%"#{key}"%"
    limit #{from},#{size}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from t_food
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hsl.bohe.entity.Food">
    insert into t_food (id, name, heat, 
      carbohydrate, protein, fat, 
      imgurl, tid)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{heat,jdbcType=DOUBLE}, 
      #{carbohydrate,jdbcType=DOUBLE}, #{protein,jdbcType=DOUBLE}, #{fat,jdbcType=DOUBLE}, 
      #{imgurl,jdbcType=VARCHAR}, #{tid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hsl.bohe.entity.Food">
    insert into t_food
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="heat != null">
        heat,
      </if>
      <if test="carbohydrate != null">
        carbohydrate,
      </if>
      <if test="protein != null">
        protein,
      </if>
      <if test="fat != null">
        fat,
      </if>
      <if test="imgurl != null">
        imgurl,
      </if>
      <if test="tid != null">
        tid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="heat != null">
        #{heat,jdbcType=DOUBLE},
      </if>
      <if test="carbohydrate != null">
        #{carbohydrate,jdbcType=DOUBLE},
      </if>
      <if test="protein != null">
        #{protein,jdbcType=DOUBLE},
      </if>
      <if test="fat != null">
        #{fat,jdbcType=DOUBLE},
      </if>
      <if test="imgurl != null">
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="com.hsl.bohe.entity.Food">
    update t_food
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="heat != null">
        heat = #{heat,jdbcType=DOUBLE},
      </if>
      <if test="carbohydrate != null">
        carbohydrate = #{carbohydrate,jdbcType=DOUBLE},
      </if>
      <if test="protein != null">
        protein = #{protein,jdbcType=DOUBLE},
      </if>
      <if test="fat != null">
        fat = #{fat,jdbcType=DOUBLE},
      </if>
      <if test="imgurl != null">
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.hsl.bohe.entity.Food">
    update t_food
    set name = #{name,jdbcType=VARCHAR},
      heat = #{heat,jdbcType=DOUBLE},
      carbohydrate = #{carbohydrate,jdbcType=DOUBLE},
      protein = #{protein,jdbcType=DOUBLE},
      fat = #{fat,jdbcType=DOUBLE},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>