<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsl.bohe.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.hsl.bohe.entity.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="height" jdbcType="DOUBLE" property="height" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="gender" jdbcType="SMALLINT" property="gender" />
    <result column="birth" jdbcType="DATE" property="birth" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, height, weight, gender, birth
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_userinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from t_userinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hsl.bohe.entity.UserInfo">
    insert into t_userinfo (id, uid, height, 
      weight, gender, birth)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{height,jdbcType=DOUBLE}, 
      #{weight,jdbcType=DOUBLE}, #{gender,jdbcType=SMALLINT}, #{birth,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.hsl.bohe.entity.UserInfo">
    insert into t_userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="birth != null">
        birth,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        #{height,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=SMALLINT},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="com.hsl.bohe.entity.UserInfo">
    update t_userinfo
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=SMALLINT},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.hsl.bohe.entity.UserInfo">
    update t_userinfo
    set uid = #{uid,jdbcType=INTEGER},
      height = #{height,jdbcType=DOUBLE},
      weight = #{weight,jdbcType=DOUBLE},
      gender = #{gender,jdbcType=SMALLINT},
      birth = #{birth,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>